@import '~@angular/material/theming';

@mixin imgwr-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-toolbar {
    button {
      &.active {
        color: mat-color($accent, default-contrast);
        background-color: mat-color($accent);
      }
    }

    .link {
      color: mat-color($primary, default-contrast);
    }
  }

  .error-notification-overlay {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .info-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .success-notification-overlay {
    color: mat-color($success-colors, default-contrast);
    background-color: mat-color($success-colors);
  }

  .warning-notification-overlay {
    color: mat-color($warning-colors, default-contrast);
    background-color: mat-color($warning-colors);
  }
}
