<div [class]="'theme-wrapper ' + theme">
  <div class="wrapper">
    <div class="toolbar" [style.position]="'fixed'">
      <mat-toolbar color="primary">
        <span routerLink="" class="branding spacer center d-inline d-sm-none"> <img [src]="logo" alt="logo" /></span>
        <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"
          ><img [src]="logo" alt="logo" /> {{ 'imagely.title.short' | translate }}</span
        >
        <span routerLink="" class="branding spacer d-none d-md-inline"
          ><img [src]="logo" alt="logo" /> {{ 'imagely.title.long' | translate }}</span
        >

        <span class="d-none d-md-inline">
          <button
            mat-button
            class="nav-button"
            *ngFor="let item of navigation"
            [routerLink]="[item.link]"
            routerLinkActive="active"
          >
            {{ item.label | translate }}
          </button>
        </span>

        <a
          [matTooltip]="'imagely.header.github' | translate"
          matTooltipPosition="before"
          mat-icon-button
          class="link d-none d-sm-inline"
          href="https://github.com/iresa-org/ngx-imagely"
          target="_blank"
        >
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
      </mat-toolbar>
    </div>

    <div class="content">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>
